<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ghost.soulmate">
    <!--通过对AndroidManifest的配置,实现多个activity之间的跳转-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--倒计时模块actitivity的启动-->
        <activity android:name=".CountTime"><!--此处直接写 . +  包名,使用时会自动在前面链接包名-->
            <intent-filter>
                <!--设置action,用于隐式Intent的使用 ， 可以实现不同app之间activity的跳转-->
                <action android:name="com.ghost.soulmate.intent.CountTime"/>
                <!--Category属性用于指定当前动作（Action）被执行的环境，默认为Default   亲测,没有的的话无法进行跳转-->
                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>
        </activity>

        <!--计划模块activity组件启动条件-->
        <activity android:name=".FeedActivity">
            <intent-filter>
                <action android:name="com.ghost.soulmate.intent.addPlan"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--测试倒计时模块-->
        <activity android:name=".CountTest">
            <intent-filter>
                <action android:name="com.ghost.soulmate.intent.CountTest"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--测试动画播放模块-->
        <activity android:name=".AnimationTest">
            <intent-filter>
                <action android:name="com.ghost.soulmate.intent.AnimationTest"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>


</manifest>